<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eureka.mp2.team4.planit.team.mapper.UserTeamMapper">
    <!--CREATE-->
    <insert id="registerTeamMember" parameterType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        INSERT INTO user_team (id, user_id, team_id, joined_at, status, role)
        VALUES (#{id}, #{userId}, #{teamId}, CURRENT_TIMESTAMP, #{status}, #{role})
    </insert>

    <!--READ-->
    <select id="getTeamMemberList" parameterType="java.lang.String" resultType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        SELECT u.email AS userEmail, u.username AS userName, u.nickname AS userNickName, ut.user_id, ut.role, ut.joined_at, ut.team_id
        FROM user_team ut
                 JOIN
             users u ON ut.user_id = u.id
        WHERE team_id = #{teamId}
        AND u.is_active = true
        AND ut.status = 'JOINED'
    </select>

    <select id="getMyTeamList" parameterType="java.lang.String" resultType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        SELECT *
        FROM user_team
        WHERE user_id = #{userId}
          AND status = 'JOINED';
    </select>

    <select id="getMyInvitedList" parameterType="java.lang.String" resultType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        SELECT *
        FROM user_team
        WHERE user_id = #{userId}
        AND status = 'WAIT';
    </select>

    <select id="findByTeamIdAndUserId" resultType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        SELECT *
        FROM user_team
        WHERE team_id = #{teamId}
          AND user_id = #{userId}
    </select>

    <select id="isTeamMember" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT EXISTS(SELECT 1
                      FROM user_team
                      WHERE team_id = #{teamId}
                        AND user_id = #{userId}
                        AND role IN ('MEMBER', 'LEADER'))
    </select>

    <select id="isTeamLeader" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT EXISTS(SELECT 1
                      FROM user_team
                      WHERE team_id = #{teamId}
                        AND user_id = #{userId}
                        AND role = 'LEADER')
    </select>

    <select id="findUserIdByNickNameOREmail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id
        FROM users
        WHERE email = #{search}
        OR nickname = #{search}
    </select>

    <!--UPDATE-->
    <update id="acceptTeamJoin">
        UPDATE user_team
        SET status = 'JOINED'
        WHERE team_id = #{teamId}
          AND user_id = #{userId}
    </update>

    <!--DELETE-->
    <delete id="deleteTeamMember">
        DELETE
        FROM user_team
        WHERE team_id = #{teamId}
          AND user_id = #{userId}
    </delete>

    <select id="findTeamByLeaderId" parameterType="java.lang.String" resultType="com.eureka.mp2.team4.planit.team.dto.UserTeamDto">
        SELECT * FROM user_team
        WHERE user_id = #{userId}
        AND role = 'LEADER'
    </select>
</mapper>