<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eureka.mp2.team4.planit.team.mapper.user_team.UserTeamMapper">
    <insert id="registerTeam" parameterType="com.eureka.mp2.team4.planit.team.user_team.dto.UserTeamDto">
        insert into team (id, teamname, description, created_at, updated_at)
        values (#{id}, #{teamName}, #{description}, now(), now());
    </insert>

</mapper>