<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eureka.mp2.team4.planit.user.UserMapper">

    <select id="findByEmail" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT id, email, username, password, nickname, role, created_at
        FROM users
        WHERE email = #{email}
    </select>

</mapper>
